body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;  
  min-width: 100vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row{
  min-height: 100vh;
  display: flex;
}
.left {
  display: flex;
  justify-content: center;
  background-color: #001d3d;
  padding: 20px;
  text-align: center;
  width: 20%; /* Ajuste a largura da seção esquerda conforme necessário */
}
.fixed {
  position: fixed;
}

img {
  max-width: 50%;
  height: auto;
  border-radius: 50%; 
  border: 5px solid #ffc300;
  transition: transform 0.2s ease;
  margin-top: 20px auto;
}

img:hover {
  transform: scale(1.2);
}

ul {
  margin-top: 20px;
  padding: 10px;
  list-style: none; 
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Isso faz com que o contêiner ocupe toda a altura da viewport (tela) */
}

.center-content {
  text-align: center;
}

.img-fluid {
  max-width: 80%;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li::marker {
  display: none;
}


.menu li a {
  text-decoration: none;
  color: #ffc300;
  font-weight: bold;
  transition: color 0.2s ease, font-size 0.2s ease; 
  padding: 10px 0;
  font-size: 16px; 
}

.menu li a:hover {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px; 
}
header {
  border-top: 3px solid black;
  background-color: white;
  padding: 10px 20px;
  text-align: left;
}

.top-bar {
  width: 100%;
  height: 3px;
  background-color: black;
}

.full-name,
.last-name, 
.formacao,
.experiencia,
.portfolio  {
  font-weight: bold;
  font-size: 60px;
}

.full-name {
  color: black;
}

.last-name {
  color: #003566;
}
.namepjt, 
.curso,
.funcao{
  color: #003566;
  font-weight: bold;
  font-size: 24px
}
.icon-color,
.tech-name {
  color: #003566;
  font-weight: bold;
}

.text-primary {
  color: #003566 !important;
  font-weight: bold;
}


.contact-info,
.email {
  color: #8f9aa1;
  font-weight: bold;
  display: inline;
  text-align: justify;
}
.linguagens {
  color: #8f9aa1;
  font-weight: bold;
  display: inline;
  text-align: justify;
  font-size: 24px
}
.tempocurso{
  font-weight: bold;
}

.email {
  color: #003566;
}

.right {
  border: 1px;
  flex: 2; /* Altere de flex: 2; para flex: 1; */
  background-color: #ffff; /* Adicione um fundo branco para preencher a tela */
  overflow: auto; /* Evita que haja barras de rolagem caso o conteúdo seja maior do que a tela */
}
.rightportfolio {
  border: 1px solid;
  flex: 1;
  background-color: #ffff;
  padding: 20px;
  overflow-y: scroll; /* Adicione a barra de rolagem apenas na coluna da direita */
  width: 50%;
}
.scrollable {
  overflow-y: auto;
}
/* Estilos para a imagem do perfil profissional */
.perfil-profissional {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #8f9aa1;
  margin-top: 20px;
}

/* Estilos para as imagens dos projetos */
.imgpjt {
  /* Estilos diferentes para as imagens dos projetos (tamanho original e sem bordas) */
  max-width: none;
  height: auto;
  border: none;
  border-radius: 10px;
  border: 1px solid #335465;
  /* Adicione outros estilos desejados para as imagens dos projetos */
}
.imgpjt:hover {
  transform: none; /* Define a transformação como "none" para remover o efeito de escala */
}

.main, .main2 {
  padding: 10px;
  text-align: left;
}


.ensino, .empresa {
  clip: black;
  font-weight: bold;
  font-size: 24px;
}
.profession p {
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
}

.decport,.biography p {
  color: #8f9aa1;
  margin-top: 10px;
  text-indent: 40px;
  text-align: justify;
}
.resumo {
  color: #8f9aa1;
  margin-top: 10px;
  text-indent: 40px;
  text-align: justify;
  font-size: 20px;
}
.infcurso, .infoexp{
  color:#8f9aa1
}

.descricao, 
.tech-desc{
  color: #8f9aa1;
  margin-top: 10px;
  text-indent: 40px;
  text-align: justify;
}

/* Estilos do rodapé */
.footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.social-icon {
  font-size: 40px;
  color: #342e2c;
  text-decoration: none;
}

.social-icon:hover {
  color: #342e2c;
}
section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
}
section.resume-section .resume-section-content {
  width: 100%;
}

@media (min-width: 992px) {
  .navbar {
    display: none; /* Oculta a barra de navegação */
  }
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 991px) {
  .left {
    display: none; /* Esconder a seção esquerda com a foto */
  }

  .right {
    flex: 1; /* Ajuste o tamanho da seção direita para ocupar toda a largura */
  }

  img {
    max-width: 100%; /* Ajuste a largura da imagem para preencher a tela */
    margin-top: 20px; /* Adicione um espaço no topo da imagem */
  }
}

/* Adicione regras de mídia para ajustar tamanhos de texto em dispositivos menores */
@media (max-width: 767px) {
  .full-name, .last-name, .formacao, .experiencia, .portfolio {
    font-size: 36px; /* Reduza o tamanho do texto */
  }

  .profession p {
    font-size: 18px; /* Reduza o tamanho do texto */
  }

  .biography p, .decport {
    font-size: 16px; /* Reduza o tamanho do texto */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .full-name, .last-name, .formacao, .experiencia, .portfolio {
    font-size: 48px; /* Ajuste o tamanho do texto para telas médias */
  }

  .profession p {
    font-size: 20px; /* Ajuste o tamanho do texto para telas médias */
  }

  .biography p, .decport {
    font-size: 16px; /* Ajuste o tamanho do texto para telas médias */
  }
}
.navbar {

  background-color: #001d3d; /* Adicione esta linha para definir a cor de fundo da barra de navegação */
  /* Outras propriedades da barra de navegação permanecem aqui */
}
.navbar-toggler {
  border: 2px solid #001d3d; /* Cor da borda */
  color: #001d3d; /* Cor do ícone */
  background-color: transparent; /* Cor de fundo transparente */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Adiciona uma transição suave nas mudanças de cor */
}

.navbar-toggler:hover {
  background-color: #335465; /* Cor de fundo ao passar o mouse */
  color: #fff; /* Cor do ícone ao passar o mouse */
  border-color: #335465; /* Cor da borda ao passar o mouse */
}
@media (max-width: 767px) {
  /* Estilos específicos para telas menores */
  .namepjt, .descricao, .tech-desc {
    font-size: 16px; /* Ajuste o tamanho do texto para telas menores */
  }

  /* Adicione outras regras de mídia conforme necessário */
}
.projeto {
  margin-bottom: 20px;
}
/* Estilos gerais para textos */
.descricao, .tech-desc {
  margin-top: 10px;
  text-indent: 40px;
  text-align: justify;
}

/* Media query para telas menores */
@media (max-width: 767px) {
  .namepjt, .descricao, .tech-desc {
    font-size: 16px;
    margin-top: 5px; /* Ajuste a margem para telas menores */
  }
}
.imgpjt {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 10px;
  border: 1px solid #335465;
}
.navbar,
.navbar a {
  color: #ffc300;
}

.navbar a:hover {
  color: white;
}

.navbar {
  background-color: #001d3d; /* Adicione esta linha para definir a cor de fundo da barra de navegação */
  color: #ffc300; /* Defina a cor do texto da barra de navegação */
  /* Outras propriedades da barra de navegação permanecem aqui */
}

.navbar a {
  color: #ffc300; /* Defina a cor do texto dos links na barra de navegação */
}

.navbar a:hover {
  color: white; /* Defina a cor do texto ao passar o mouse sobre os links */
}

.navbar-toggler {
  border: 2px solid #001d3d; /* Cor da borda */
  color: #001d3d; /* Cor do ícone */
  background-color: transparent; /* Cor de fundo transparente */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Adiciona uma transição suave nas mudanças de cor */
}

.navbar-toggler:hover {
  background-color: #335465; /* Cor de fundo ao passar o mouse */
  color: #fff; /* Cor do ícone ao passar o mouse */
  border-color: #335465; /* Cor da borda ao passar o mouse */
}
